---
---

@import "{{ site.theme }}";

header {
  background: url(/images/turtlegang.png);}

body {
  font:14px/22px 'Quattrocento Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#2b2b2b;
  font-weight:300;
  margin: 0px;
  padding:0px 0 20px 0px;
  background: #34405B;
}
